body{width: 100%;height: 100%;padding: 0;margin: 0;}

.content{width:1297px;margin:0 auto;}

.bottom-header-content,.top-header-content,.service-content,.active-mobile-content,.about-us-content,.support-content{width: 963px;margin: 0 auto;}

.top-header {background-color: rgb( 26, 26, 26 );height: 53px;}

.logo {float: left;font:24px "SourceSansProBold";color:#ffffff;padding-top: 10px;}

.logo span {font:24px "SourceSansProRegular";color: #a8a8a8;}

.top-header-content nav {float: right;margin-right: 5px;}

.top-header-content ul li,.bottom-header-content ul li {list-style: none;float: left;}

.top-header-content ul li a,.bottom-header-content ul li a {text-decoration: none;}

.top-header-content ul li a {margin:0 9px; }

.top-header-content ul li a:hover{color:#808080;}

.bottom-header {border-bottom: 4px solid #dedede;background-color: white;height: 77px;}

.bottom-header-content nav {float: left;}

.bottom-header-content ul {padding: 0;margin: 0;}

.bottom-header-content ul li{font:14px "SourceSansProRegular";padding: 27.5px 18px;color:#808080;margin-left: 10px;text-align: center;}

.bottom-header-content ul li:first-child {border-bottom: 2px solid #808080;margin-left: 18px;}

.bottom-header-content ul li:last-of-type,.bottom-header-content ul li:nth-of-type(4),.bottom-header-content ul li:nth-of-type(3) {margin: 0;text-align: left;padding: 28px 25px 28px 0;}

.bottom-header-content ul li:nth-of-type(4),.bottom-header-content ul li:nth-of-type(3){ position: relative;left: 5px;}

.bottom-header-content ul li a {color:#808080;}

.search {float: right;margin-top: 20px;}

input[type="search"] {background: #f6f6f6 url(../img/Search.png) no-repeat 95% 55%;padding:5px 75px 6px 10px;font:14px "SourceSansProLight";border: 1px solid #dadada;position: relative;right: 5px;}

/*slider*/
.slider {
    height: 445px;
    background: green;
}
/*endslider*/

.triangle-up1 {width: 0;height: 0;border-left:72px solid transparent;border-right:72px solid transparent;border-bottom:50px solid #f6f6f6;margin: auto;}

.service {height: 440px;}

.service-content h1 {margin-top:60px;font:38px "SourceSansProLight";color:#c6c6c6;text-align: center;}

.service-content h1 span {font: 38px "SourceSansProSemiBold";color:#747474;}

.service-content h3 {font: 14px "SourceSansProRegular";margin:-20px 0 20px 20px;text-align: center;color:#616161;width: 97%;}

.left-service,.center-service,.right-service {float: left;width: 32%;text-align: center;}

.left-service {margin-left: 13px;}

.center-service{margin-left: 5px;}

.right-service {margin-left: 20px;}

.left-service a,.center-service a,.right-service a {text-decoration: none;color:#e1e1e2;}

.left-service a h2,.center-service a h2,.right-service a h2 {margin-top: -3px;font: 22pt "OpenSansLight";text-align: center;}

.left-service a h2 span,.center-service a h2 span,.right-service a h2 span{font: 22pt "OpenSansSemiBold";}

.left-service a p,.center-service a p,.right-service a p{margin-top: -20px;font: 10.5pt "SourceSansProRegular";}

.left-service a:hover h2,.center-service a:hover h2,.right-service a:hover h2{color:#c0c0c0;font: 24pt "OpenSansLight";}

.left-service a:hover h2 span,.center-service a:hover h2 span,.right-service a:hover h2 span{font: 24pt "OpenSansSemiBold";color:#616161;}

.left-service a:hover p,.center-service a:hover p,.right-service a:hover p {color:#616161;font: 11pt "SourceSansProRegular";}

.left-service h1,.center-service h1,.right-service h1{font: 24pt "OpenSansLight";margin-top: 10px;}

.left-service h1 span,.center-service h1 span,.right-service h1 span {font: 24pt "OpenSansSemiBold";}

.left-service img,.center-service img,.right-service img {margin-top: 50px;}

.active-mobile {background-color: #f6f6f6;height: 814px;padding-top: 15px;}

.active-mobile-content h1{font: 20pt "OpenSansLight";color:#616161;text-align: center;margin-top: 35px;}

.active-mobile-content h1 span{font: 20pt "OpenSansSemiBold";color: black;}

.active-mobile-content h3{font: 10.7pt "SourceSansProRegular";color:#616161;text-align: center;width:100%;margin:-15px 0 40px 15px;}

.items {margin:0 0 0 18px;}

.item {float: left;width: 31.5%;height: 265px;margin: 10px 0 35px 0;}

.item:first-of-type,.item:nth-of-type(4) {margin-right: 25px;}

.item:nth-of-type(2),.item:nth-of-type(5) {width: 31.7%;margin-right: 20px;}

.item:nth-of-type(3),.item:last-of-type {width: 31.5%;}

.item img {border: 1px solid #d7d7d7;height: 195px;width: 99%;}

.item div {border: 1px solid #d7d7d7;height: 80px;padding: 0 5px 0 10px;}

.item h1 {font: 11pt "SourceSansProSemiBold";color:#616161;margin-top: 10px;text-align: left;}

.item p {font: 9.5pt "SourceSansProLight";color: #616161;width: 100%;}

.item div:first-of-type {margin-top: -4px;}

.items .item a {float: right;position: relative;top: -40px;}

.about-us {height: 865px;padding-top: 30px;}

.about-us-content h1 { font: 29pt "SourceSansProLight";color:#dcdcdc;text-align: center;}

.about-us-content h1 span{ font: 29pt "SourceSansProSemiBold";color:#606060;}

.about-us-content h3 {font: 10.7pt "SourceSansProRegular";color:#606060;text-align: center;width:100%;margin:-15px 0 40px 15px;}

.about-us-blocks{float: left;}

.about-us-block1,.about-us-block2,.about-us-block3,.about-us-block4 {float: left;margin: 10px 0 50px 0;}

.about-us-block1 {margin-left: 3.5%;width: 18.2%;}

.about-us-block2 {margin-left: 7%;width: 19%;}

.about-us-block3 {margin-left: 6.3%;width: 18.9%;}

.about-us-block4 {margin-left: 5%;width: 18.4%;}

.about-us-block1 h2,.about-us-block2 h2,.about-us-block3 h2,.about-us-block4 h2 { font: 19.5pt "SourceSansProLight";margin:5px 0 0 2px;text-align: center;}

.about-us-block1 p,.about-us-block2 p,.about-us-block3 p,.about-us-block4 p { font: 10pt "SourceSansProLight";text-align: center;margin-top: 3px;}

.about-us-block1 div,.about-us-block2 div,.about-us-block3 div,.about-us-block4 div {text-align: center;}

.about-us-block1 div a,.about-us-block2 div a,.about-us-block3 div a,.about-us-block4 div a {margin-right:5px;}

.testimonials{width: 49%;}

.testimonials{ margin-right: 15px;}

.testimonials,.testimonials-left,.header-testimonials,.skills,.testimonials h1,.skills h1 {float: left;}

.testimonials h1,.skills h1{font: 20pt "OpenSansSemiBold";color:#606060;margin:22px 0 40px 15px;}

.testimonials h1 span,.skills h1 span{font: 20pt "OpenSansLight";}

.testimonials-arrows {float: right;position: relative;top: 25px;}

.testimonials-arrows a {text-decoration: none;margin-left: 5px;}

.header-testimonials{ width: 100%;}

.testimonials-left{ margin: 0 45px 0 15px;}

.testimonials p:first-of-type{ font: 11.5pt "OpenSansRegular";}

.testimonials p:first-of-type span{ font: 21pt "OpenSansRegular";}

.testimonials p:last-of-type{ float: right;width: 50%;text-align: right;font: 11pt "OpenSansLight";}

.testimonials a{ text-decoration: none;color:#7dcbf5;}

.skills{ margin-left: 15px;width: 47%;}

.skills h1{ margin-left:0;}

.wrapper {width: 455px;float: left;margin-top: -35px;}

.progress-bar {width: 100%;background-color: #d0d0d0;}

.progress-bar-fill {display: block;height: 5px;background-color: #00adf0;}

.android,.apple,.blackbeery,.more{ float: left;margin-top: -15px;}

.android{ margin-top: -20px;}

.android img,.apple img,.blackbeery img,.more img{ position: relative;top: 6px;}

.skills h3{text-align: left;margin-left: 22px;font: 11pt "SourceSansProIt";color:#606060;}

.skills h3 span{ float:right;margin-right: 25px;}

.blog{ height: 500px;background:#f6f6f6;padding: 197px 0 70px 0;}

.blog-content{ margin: 0 auto;width: 981px;}

.left-images{ width: 100%;float: left;margin-left: 65px;}

.right-images{ float: right; clear: left;border: 1px solid black;width: 45%;position: relative;top: -31px;}

.post{ height: 301px;background: #ffffff;border: 1px solid #e7e7e7;position: relative; z-index:1}

.View{clear: left; float: right;width: 4.5%;position: relative;z-index: 2;left: -15px;top: -27px;}

.triangle-up2 {position: relative;z-index: 2;left: 145px;top: 1px; width: 0;height: 0;border-left:40px solid transparent;border-right:40px solid transparent;border-bottom:25px solid white;clear: left;}

.left-post,.right-post{ float: left;margin: 35px 0 45px 50px;width: 43%;}

.left-post h1{ font: 17pt "OpenSansLight";color:#5d6165;margin-bottom: 20px;}

.left-post h1 span{ font: 17pt "OpenSansSemiBold"; }

.right-post{ margin-left: 55px;}

.right-post p,.left-post p{ font: 10.5pt "SourceSansProRegular";color:#626262;}

.right-post p:first-of-type{ margin-top: 5px;}

.date-post{ background-color:#f1f1f1;border: 1px solid #e7e7e7;float: left;width: 100%;margin-top: -16px;}

.date-post p{padding-left: 50px;font: 12pt "SourceSansProRegular";color: #2f2f2f;margin-top: 5px;}

footer{ height: 839px;position: relative;top: -2px;}

.map {background-image: url(../img/Map.png);height: 500px;text-align: center;}
 
.map:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}
 
#map{display: inline-block;vertical-align: middle;width: 71%;}

.address,.form {float: left;background-color: #00adf0;margin-top: 20px;}

.address{ margin-right: 2px;width: 40%;padding: 0 25px;}

.address p:first-of-type{ font: 17pt "OpenSansSemiBold";color: white;text-align: left;}

.address p:last-of-type{ font: 12pt "OpenSansLight";color:#d1ebfb;text-align: left;}

.form{ padding: 15px 0 15px 15px;width: 51.6%;}

input[type="text"],input[type="email"],textarea{font: 13pt "OpenSansRegular";background-color: #008cbf;float: left;color: white;}

input[type="text"]::-moz-placeholder,input[type="email"]::-moz-placeholder,textarea::-moz-placeholder {color: white;} 
   
input[type="text"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color: white;}

input[type="text"],input[type="email"]{ width: 44.5%;border: 0;padding: 5px 0 5px 15px;margin-top: 5px;}

input[type="text"] { margin-right: 3px;}

textarea{padding: 5px 0 60px 15px;width: 92.9%;resize: none;margin-top: 2px;border: 0;}

.bottom-map-left{float: left;margin-left: 22%;}

.bottom-map-right{ float: right;}

.triangle-up3{width: 0;height: 0;border-left: 18px solid transparent;border-right: 18px solid transparent;border-top: 29px solid #00adf0;position: relative;top:-2px;}

.bottom-map-left img{ position: relative;left: -5px;}

#submit{width: 95%;border: 0;background-color: #00adf0;font: 13.5pt "OpenSansRegular";color: white;padding:5px 0 0 30px;margin-right: 35px;position: relative;top: 10px;}

#submit img{ float: right;margin: 10px 15px 10px 50px;}

.socials-footer{background-color: #414141;padding: 15px 0;}

.socials-footer-images{ text-align: center;}

.socials-footer-images img{ position: relative;top: 2px;}

/*.socials-footer-images img:first-of-type{ position: relative;left: -5px;}

.socials-footer-images img:nth-of-type(3){ position: relative;left: 10px;}

.socials-footer-images img:nth-of-type(4){ position: relative;left: 15px;}

.socials-footer-images img:last-of-type{ position: relative;left:20px;}*/

.support{ background-color: #1a1a1a;padding-top: 15px;height: 205px;}

.support-left,.support-center,.support-right{float: left;width: 15%;}

.support-left{ margin-left: 10px;}

.support-center{ margin: 0 25px;}

.support-left h1,.support-center h1,.support-right h1{ font: 20pt "OpenSansLight";color: #c7c7c7;}

.support-left ul,.support-center ul,.support-right ul{ padding: 0;margin: 0;}

.support-left ul li,.support-center ul li,.support-right ul li{ list-style-type: none;}

.support-left ul li a,.support-center ul li a,.support-right ul li a{  font: 10pt "OpenSansLight";text-decoration: none;color:#dfdfdf;display: block;}

.newsletter{float: right;margin-right: -28px;}

.newsletter h1{ font: 20pt "OpenSansLight";color:#c7c7c7;}

#footer-email{padding:5px 140px 5px 15px;font: 11pt "OpenSansLight";background-color: #868686; color:#d9d9d9;}

.newsletter p{font: 9pt "OpenSansLight";color:#5b5b5b;clear: left;position: relative;top: 10px;left: 5px;}

.copyright{ background-color:#414141;padding-top: 5px;border-bottom: 1px solid white;}

.copyright p{ text-align: center;font: 10.5pt "SourceSansProRegular";color:#cdcdcd;}

.copyright p span{color:#00adf0;}